<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        div.correct, div.incorrect{            
            border: 1px solid black;            
            width: 200px;
            height: 200px;
            display: inline-block;
            color: white;
            padding-top: 50px;
        }
        .correct{
            background-color: green;
        }
        .incorrect{
            background-color: red;            
        }
        .bodyContent{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container bodyContent">
        <h3>Welcome to the Great Number!</h3>
        <p>I am thinking a number between 1 and 100<br>Take a guess!</p>                
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>